/* p{
    color: red;
} */

/* #box1{
    color:blue;
} */

/* .box2{
    color: pink;
} */

/* p,h1,h2{
    color: yellow;
} */

/* *{
    background-color: royalblue;
} */

/* p{
    background-color: crimson;
} */

p{
    color: orange;
}