* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body {
    background-color: #20B1AA;
    height: 100svh;
    display: grid;
    place-items: center;
}

.navbar {
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background-color:rgb(245, 242, 242);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
}


.box1,.box9 {

    font-size: 1.3vw;
    font-weight: 700;
    a{
    color:#20B1AA ;
    &:hover{
        color: royalblue;
    }
}
}


.navbar>div:not(:first-child,:last-child){
    font-size: 1.3vw;
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    a{
        color:  #20B1AA;
    }
    &:hover{
        box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
        transition: 0.8s;
        background-color:#20B1AA ;
        a{
            color: white;
        }

    }
}